
h1 {
    text-align: center;
}

.gridContainer {
    width: 30%;
    display: block;
    margin: 0 auto;
}

.gridRow {
    width: 100%;
    display: block;
    font-size: 0;
}

.gridBlock {
    background-color: #777;
    width: 10%;
    padding-bottom: 10%;
    display: inline-block;
    outline: 5px solid lightgray;
    cursor: pointer;
}

.gridBlock:hover {
    background-color: aquamarine;
}

.active {
    background-color: blue;
}
